body {
  background-color: red;
}

.ror-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  padding-top: 60px; /* Hauteur de votre NavBar */
  overflow-y: auto;
}